<div class="container">
    <h3 class="subpage-title">Reference Locations</h3>

    <script type="text/ng-template" id="locationModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Cite Reference</h3>
        </div>
        <div class="modal-body">
            <form class="location-form" ng-submit="submitRefLocation($event)">
                <label for="ref">Reference</label>
                <select name="ref" ng-model="locationData.ref" class="form-control">
                    <option value="" selected="selected">Pick a reference</option>
                    <option ng-repeat="refItem in refList | orderBy:'name'" value="{{refItem.id}}">{{ refItem.name }}</option>
                </select>

                <label for="topic">Topic</label>
                <select name="topic" ng-model="locationData.topic" class="form-control">
                    <option value="" selected="selected">Pick a topic</option>
                    <option ng-repeat="topicItem in topicList | orderBy:'name'" value="{{topicItem.id}}">{{ topicItem.name }}</option>
                </select>

                <label for="section">Section</label>
                <select name="section" ng-model="locationData.section" class="form-control">
                    <option value="" selected="selected">Pick a section</option>
                    <option ng-repeat="sectionItem in sectionList | orderBy:'name'" value="{{sectionItem.id}}">{{ sectionItem.name }}</option>
                </select>

                <label for="body_of_work">Body of Work</label>
                <select name="body_of_work" ng-model="locationData.body_of_work" class="form-control">
                    <option value="" selected="selected">Pick a section</option>
                    <option ng-repeat="bowItem in bowList | orderBy:'name'" value="{{bowItem.id}}">{{ bowItem.name }}</option>
                </select>

                <label for="ref_quote">Reference Quote</label>
                <textarea name="ref_quote" ng-model="locationData.ref_quote" class="form-control" rows="4" required="required">
                </textarea>

                <label for="quote">Manuscript Quote</label>
                <textarea name="quote" ng-model="locationData.quote" class="form-control" rows="4">
                </textarea>

                <button type="submit" class="form-control btn btn-primary submit-btn">Cite!</button>
            </form>
        </div>
    </script>

    <div class="modal-open-btn-container">
        <button class="modal-open-btn btn btn-success btn-lg" ng-click="openModal()">Cite Reference</button>
    </div>

    <h3 class="subpage-title">You have {{ locationList.length }} reference locations in the system</h3>

    <table class="table table-striped table-condensed" ng-show="locationList.length">
        <thead>
            <tr>
                <th>Manuscript Quote</th>
                <th>Reference Quote</th>
                <th>Topic</th>
                <th><!-- for deletion --></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="locationItem in locationList">
                <td>{{ locationItem.quote }}</td>
                <td>{{ locationItem.ref_quote }}</td>
                <td>{{ getTopic(locationItem.topic) }}</td>
                <td ng-click="deleteLocation(locationItem)"><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
        </tbody>
    </table>
</div>
