<div class="container" id="login-page">
    <h3 class="subpage-title">Login To Citation Manager</h1>

    <div ng-if="l.getLoginName()">
        <h4 class="loggedInBanner success">Already logged in as {{ l.getLoginName() }}</h5>
    </div>

    <form class="login-form" ng-submit="submitLogin($event)">
        <label for="name">Name</label>
        <input class="form-control" name="name" ng-model="login.name" required="required">
        </input>

        <button class="btn btn-primary submit-btn" type="submit">Login</button>
    </form>

    <div class="status-msg error" ng-show="errorMsg">{{ errorMsg }}</div>
</div>
