<div class="container">
    <h3 class="subpage-title">Add Reference</h3>
    <form ng-submit="submitRef($event)" class="ref-form">
        <label for="name">Paper Name</label>
        <input type="text" class="form-control" name="name" required="required" ng-model="ref.name" />

        <label for="first_author">First Author</label>
        <input type="text" class="form-control" name="first_author" ng-model="ref.first_author" />

        <label for="year">Publication Year</label>
        <input type="number" class="form-control" name="year" ng-model="ref.year" />

        <label for="citation_num">Citation Number</label>
        <input type="number" class="form-control" name="citation_num" ng-model="ref.citation_num" />

        <button type="submit" class="btn btn-primary submit-btn form-control">Add Reference</button>
    </form>

    <h4 class="ref-summary">You currently have {{ refList.length }} references in the system</h4>

    <div ng-show="refList.length">
        <table class="table table-striped table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>First Author</th>
                    <th>Year</th>
                    <th>Citation Number</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="refItem in refList|orderBy:'citation_num'">
                    <td>{{ refItem.name }}</td>
                    <td>{{ refItem.first_author }}</td>
                    <td>{{ refItem.year }}</td>
                    <td>{{ refItem.citation_num }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
