<div class="container">
    <h3 class="subpage-title">Add Topic</h3>

    <form ng-submit="submitTopic($event)" class="topic-form">
        <label for="name">Topic</label>
        <input type="text" class="form-control" name="name" required="required" ng-model="topicData.name" />
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" ng-model="topicData.description" />
        <button type="submit" class="btn btn-primary form-control submit-btn">Add Topic</button>
    </form>

    <div ng-if="topicList.length">
        <h3 class="subpage-title">Existing Topics</h3>
        <table class="table table-striped">
            <thead><tr>
                <th>Name</th>
                <th>Description</th>
                <th><!-- glyphicon to remove stuff --></th>
            </tr></thead>
            <tbody>
                <tr ng-repeat="topicItem in topicList">
                    <td>{{ topicItem.name }}</td>
                    <td>{{ topicItem.description }}</td>
                    <td ng-click="removeTopic(topicItem)"><span class="glyphicon glyphicon-remove"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
