<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Citation Manager &middot; Edit Quote</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/edit-quote.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Citation Manager</a>
		<div class="text-right">
			<button class="navbar-toggler" type="button"
				data-toggle="collapse" data-target="main-navbar"
				aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse flex-grow-1 text-right" id="main-navbar">
			<ul class="navbar-nav ml-auto flex-nowrap">
				<li class="nav-item">
					<a class="nav-link" href="/">Library</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profile">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/auth/logout">Logout</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container" id="edit-quote-app">
		<h1 class="title">{{ title }}</h1>
		<form role="form" v-on:submit.prevent="submitForm" method="POST">
			<div class="error-msg" v-if="errorMsg">{{ errorMsg }}</div>

			<label for="name">Quote</label>
			<input type="text" name="quote" class="form-control"
				placeholder="quote"
				required="required"
				v-model="quote.quote">

			<label for="project">Project</label>
			<select name="project" class="form-control" required="required"
				v-model="quote.project">
				<option v-for="project in projects" v-bind:value="project.id">{{ project.name }}</option>
			</select>

			<div v-if="isPublicationsLoaded && publications.length > 0">
				<label for="publication">Publication</label>
				<select name="publication" class="form-control" required="required"
					v-model="quote.publication">
					<option value="-1" selected>Please choose a publication</option>
					<option v-for="pub in publications" v-bind:value="pub.id">{{ pub.name }}</option>
				</select>
				<small><a href="/publications/new">Add new publications</a></small>
			</div>
			<div v-if="isPublicationsLoaded && publications.length === 0">
				<p>You don't have any publications. Try <a href="/publications/new">creating some.</a></p>
			</div>
			<div v-if="!isPublicationsLoaded">
				Loading publications...
			</div>

			<button class="btn btn-primary form-control" type="submit">
				{{ isNew ? "Create" : "Update" }}
			</button>
		</form>
	</div>

	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="/js/utils.js"></script>
	<script src="/js/vue-components/edit-quote.js"></script>
</body>
</html>