<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Citation Manager &middot; Edit Quote</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/edit-quote.css">
</head>
<body>
	<div class="container" id="edit-quote-app">
		<h1 class="title">{{ title }}</h1>
		<form role="form" v-on:submit.prevent="submitForm" method="POST">
			<label for="name">Quote</label>
			<input type="text" name="quote" class="form-control"
				placeholder="quote"
				required="required"
				v-model="quote.quote">

			<label for="project">Project</label>
			<select name="project" class="form-control" required="required"
				v-model="quote.project">
				<option v-for="project in projects" v-bind:value="project.id">{{ project.name }}</option>
			</select>

			<label for="link">Link</label>
			<input type="text" name="link" class="form-control"
				placeholder="link"
				v-model="quote.link">

			<div class="form-row">
				<div class="form-group col-lg-6">
					<label for="publication_name">Publication Name</label>
					<input type="text" name="publication_name" class="form-control"
						placeholder="Publication Name"
						v-model="quote.publication_name">
				</div>
				<div class="form-group col-lg-6">
					<label for="source_title">Source Title</label>
					<input type="text" name="source_title" class="form-control"
						placeholder="Source Title"
						v-model="quote.source_title">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="authors">Authors</label>
					<input type="text" name="authors" class="form-control"
						placeholder="Authors"
						v-model="quote.authors">
				</div>

				<div class="form-group col-md-6">
					<label for="source_pub_date">Publication Date</label>
					<input type="date" name="source_pub_date" class="form-control"
						placeholder="Publication Date"
						v-model="quote.source_pub_date">
				</div>
			</div>

			<button class="btn btn-primary form-control" type="submit">
				{{ isNew ? "Create" : "Update" }}
			</button>
		</form>
	</div>

	<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="/js/utils.js"></script>
	<script src="/js/vue-components/edit-quote.js"></script>
</body>
</html>