#breaker {
    height: 50px;
}

.ref-summary {
    margin-top: 2%;
    text-align: center;
}

.warning {
    color: #EDE626;
}

.topic-form .status-msg {
    text-align: center;
}

.query-form textarea {
    margin-bottom: 20px;
}

h4.warning {
    text-align: center;
}

.section-form label {
    margin-top: 2px;
}

.section-form .error {
    text-align: center;
}

.error {
    color: #B8091B;
}

.emptyTableMsg {
    text-align: center;
}

.query-msg {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

.section-form .success {
    text-align: center;
}

.glyphicon-remove {
    font-size: 0.8em;
    color: #DB1A54;
    cursor: pointer;
}

.loggedInBanner {
    margin: 20px auto;
    text-align: center;
}

.success {
    color: #318C2E;
}

.topic-form, .section-form, .ref-form, .login-form {
    margin: 0 auto;
    max-width: 400px;
}

.ref-form input[type=text] {
    margin-bottom: 3px;
}

.subpage-title {
    text-align: center;
}

.page-title {
    text-align: center;
    margin: 10px auto;
}

textarea {
    resize: none;
}

.submit-btn {
    margin-top: 10px;
}
