#breaker {
    height: 50px;
}

.rerun-query-btn {
    height: 60%;
}

#saved-queries-accordion .glyphicon-remove {
    float: right;
}

.ref-summary {
    margin-top: 2%;
    text-align: center;
}

.checkbox label {
    font-weight: bold;
}

#query-instructions {
    max-width: 500px;
    margin: 0 auto;
}

#query-instructions h4 {
    margin: 2px auto;
    text-align: center;
}

#query-page accordion .panel-heading {
    cursor: pointer;
}

#query-page accordion .label {
    margin-right: 2px;
    font-size: 0.7em;
}

.query-form {
    margin-bottom: 10px;
}

.warning {
    color: #EDE626;
}

.topic-form .status-msg, .ref-form .status-msg, #login-page .status-msg {
    text-align: center;
}

h4.warning {
    text-align: center;
}

.section-form label, .query-form label {
    margin-top: 4px;
}

.query-form input[name="name"] {
    margin-bottom: 10px;
}

.section-form .error {
    text-align: center;
}

.error {
    color: #B8091B;
}

.emptyTableMsg {
    text-align: center;
}

.query-msg {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

.section-form .success {
    text-align: center;
}

.glyphicon-remove {
    font-size: 0.8em;
    color: #DB1A54;
    cursor: pointer;
}

.loggedInBanner {
    margin: 20px auto;
    text-align: center;
}

.success {
    color: #318C2E;
}

.topic-form, .section-form, .ref-form, .login-form, .location-form {
    margin: 0 auto;
    max-width: 400px;
}

.modal-open-btn-container {
    margin: 0 auto;
    text-align: center;
}

.ref-form input[type=text] {
    margin-bottom: 3px;
}

.subpage-title {
    text-align: center;
}

.page-title {
    text-align: center;
    margin: 10px auto;
}

textarea {
    resize: none;
}

.submit-btn {
    margin-top: 10px;
}
