.title {
	font-weight: normal;
	text-align: center;
	margin-top: .5rem;
}

form label {
	font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
	margin-bottom: .8rem;
}

.error-msg {
	color: red;
	text-align: center;
}

.success-msg {
	color: green;
	text-align: center;
}